recursive-include django_logtail/templates/logtail *.html
recursive-include django_logtail/static/logtail *.*
include README.rst
include CHANGES.rst
exclude example/*.py
exclude manage.py
exclude test.log
